<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora-Home page</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1 id="heading">Quora posts</h1>
    <% for (post of posts) { %>
<div class="post">
    <h3 class="username"> @<%= post.username %></h3>
    <h4 class="content"> <%= post.content %></h4><a href=""><button>Edit this post</button></a>
</div>
   <% } %>
   <a href="/posts/new"><button>Create New post</button></a>
</body>
</html>